---
import Layout from '../layouts/Layout.astro';
import RegistrationForm from '../components/RegistrationForm.astro';
---

<Layout title="foolsignup">
	<main>
		<RegistrationForm />
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		background-color: #f8fafc;
	}
</style>
